.movieDetailsContainer {
  padding: 10px;
}

.movieInfo {
  display: flex;
  gap: 20px;
}

.moviePoster {
  width: 300px;
  border-radius: 10px;
}

.movieText {
  max-width: 600px;
}

.movieText h1 {
  font-size: 24px;
}

.movieText p {
  font-size: 18px;
  margin: 10px 0;
}
.list {
  list-style: none;
  display: flex;
  gap: 15px;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.link:hover {
  color: #007bff;
}

.active {
  color: #007bff;
  font-weight: 600;
  border-bottom: 2px solid #007bff;
}
.text {
  margin: 10px;
  font-size: 20px;
}
